$errorRed: rgb(233, 19, 19);

.input-style {
  width: 100%;
  outline: none;
  padding: 5px;
  height: 40px;
  font-size: 1em;
  border-radius: 8px;
  border: solid 1px #ddd;
  box-sizing: border-box;
  &.input-error {
    border: solid 1px $errorRed;
  }
}

.input-label {
  margin-bottom: 10px;
  display: block;
  font-weight: 500;
  &.input-error {
    color: $errorRed;
  }
}

.input-wrapper {
  text-align: left;
}
