$mainBlue: rgb(2, 137, 228);
$disabled: rgb(192, 192, 192);
$hoverColor: #f0f7fe;

.button {
  cursor: pointer;
  border: none;
  font-size: 1em;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 8px;
  background: transparent;
  outline: none;
  color: $mainBlue;
  text-transform: uppercase;
  font-weight: 500;
  transition: background-color 200ms;
  &:hover {
    background: $hoverColor;
  }
  &:active {
    background: darken($hoverColor, 5%);
  }

  &.disabled {
    pointer-events: none;
    color: $disabled;
    border: none;
  }

  &.dark-btn {
    $hoverColor: #c5d1dd;
    &:hover {
      background: $hoverColor;
    }
    &:active {
      background: darken($hoverColor, 5%);
    }
  }
}
