.page-container {
  width: 60%;
  margin: 30px auto;
  max-width: 1280px;
}

@media only screen and (max-width: 1200px) {
  .page-container {
    width: 80%;
  }
}

@media only screen and (max-width: 800px) {
  .page-container {
    width: 95%;
  }
}

@media only screen and (max-width: 600px) {
  .page-container {
    margin-bottom: 72px;
    width: 95%;
  }
}
