.page-title {
  margin: 0;
  text-transform: capitalize;
}

.posts-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.load-more-button {
  margin: 0 auto;
  margin-top: 30px;
  width: 60%;
}

.activeTags {
  display: flex;
  align-items: center;
  margin-top: 10px;
  > span {
    margin-right: 10px;
  }
}

.removeTag {
  margin: 0 10px;
  border-radius: 50%;
  &:hover {
    background-color: rgba(0, 0, 0, 0.486);
  }
}
