$mainColor: #e0e0e0;

.page-title {
  margin: 0;
  text-transform: capitalize;
}

.tagDelete {
  width: 32px;
  height: 32px;
  margin-left: -10px;
  display: flex;
  font-size: 110%;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  border-radius: 50%;
  transition: all 200ms;
  &:hover {
    background: #b6b6b6;
    color: white;
  }
}

.posts-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.load-more-button {
  margin: 0 auto;
  margin-top: 30px;
  width: 60%;
}

.activeTags {
  display: flex;
  align-items: center;
  margin-top: 10px;
  > span {
    margin-right: 10px;
  }
}

.removeTag {
  margin: 0 10px;
  border-radius: 50%;
  &:hover {
    background-color: rgba(0, 0, 0, 0.486);
  }
}
