$mainColor: #eef2f6;
$cardPadding: 25px;
$mainBlue: rgb(0, 153, 255);

.post-card {
  position: relative;
  width: 49%;
  box-sizing: border-box;
  background: white;
  border-radius: 8px;
  margin-top: 20px;
  .tags {
    min-height: 28px;
    display: flex;
    box-sizing: border-box;
  }
}

.post-title {
  margin: 0;
  text-transform: capitalize;
}

.post-description {
  font-weight: 500;
}

.divider {
  display: block;
  height: 2px;
  margin: 10px 0;
  background: $mainColor;
}

.image-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: darken($mainColor, 10%);
  display: flex;
  justify-content: center;
  align-items: center;
  .post-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 300ms;
  }
}

.info {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  .text {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    position: absolute;
    height: 100%;
    margin-top: -100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    color: whitesmoke;
    transition: margin-top 500ms;
  }
  &:hover {
    .text {
      margin-top: 0;
    }
    .post-image {
      transform: scale(1.2);
    }
  }
}

.padding {
  padding: $cardPadding;
  box-sizing: border-box;
}

@media only screen and (max-width: 800px) {
  .post-card {
    width: 100%;
    .text {
      margin-top: 0;
    }
  }
}
