$mainColor: #eef2f6;
$cardPadding: 25px;
$mainBlue: rgb(0, 153, 255);

.disabled {
  pointer-events: none;
}

.post-card {
  position: relative;
  width: 49%;
  box-sizing: border-box;
  background: white;
  border-radius: 8px;
  margin-top: 20px;
  .tags {
    min-height: 28px;
    display: flex;
    box-sizing: border-box;
  }
  .btn {
    margin-right: 10px;
  }
}

.post-title {
  margin: 0;
  text-transform: capitalize;
}

.post-description {
  font-weight: 500;
}

.divider {
  display: block;
  height: 2px;
  margin: 10px 0;
  background: $mainColor;
}

.image-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  // background: darken($mainColor, 10%);
  display: flex;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 600% 600%;

  justify-content: center;
  align-items: center;

  .post-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 300ms;
  }
}

.loading {
  -webkit-animation: Gradient 1s ease infinite;
  -moz-animation: Gradient 1s ease infinite;
  animation: Gradient 1s ease infinite;
}

.info {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  .text {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    position: absolute;
    height: 100%;
    margin-top: -100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    color: whitesmoke;
    transition: margin-top 500ms;
  }
  &:hover {
    .text {
      margin-top: 0;
    }
    .post-image {
      transform: scale(1.2);
    }
  }
}

.padding {
  padding: $cardPadding;
  padding-bottom: 15px;
  box-sizing: border-box;
}

@media only screen and (max-width: 800px) {
  .post-card {
    width: 100%;
    .text {
      margin-top: 0;
    }
  }
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
