$navigationColor: #130e1c;
$mainBlue: rgb(0, 153, 255);
.side-navigation {
  display: flex;
  flex-direction: column;
  color: whitesmoke;

  transition: transform 300ms ease-in-out;
  .controller {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    width: 75px;
    height: 75px;
    background: $navigationColor;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-bottom: 10px;
  }
  .nav-link {
    &:nth-of-type(1) {
      background: rgb(255, 92, 92);
    }
    &:nth-of-type(2) {
      background: rgb(255, 174, 0);
    }
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 93px;
    padding-left: 24px;
    height: 75px;
    left: -18px;
    background: rgb(250, 53, 53);
    box-sizing: border-box;
    font-weight: bold;
    font-size: 1em;
    text-transform: capitalize;
    margin-bottom: 10px;
    transition: background 150ms linear, opacity 200ms ease-in-out,
      transform 150ms;
    &:hover {
      transform: translateX(4px);
    }

    &::after {
      content: '';
      display: block;
      background: transparent;
      position: absolute;
      top: calc(100% - 10px);
      left: 0;
      border-bottom-right-radius: 8px;
      width: 75px;
      height: 10px;
      transition: background 150ms;
    }

    &.active {
      transform: translateX(18px);
      &::after {
        content: '';
        display: block;
        background: $mainBlue;
        position: absolute;
        top: calc(100% - 10px);
        left: 0;
        border-bottom-right-radius: 8px;
        width: 93px;
        height: 10px;
      }
    }
  }

  &.hide {
    .nav-link {
      opacity: 0;
      pointer-events: none;
    }
  }

  h3 {
    border-bottom: solid 2px rgba(255, 255, 255, 0.699);
    padding-bottom: 10px;
    width: 70%;
  }
}
